@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  font-family: 'Roboto Mono', monospace;;
}
#home {
  height: 700px;
  background-image: url(/img/landscape.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

#name {
  color: white;
  position: absolute;
  bottom: 10rem;
  left: 3rem;
  font-size: 321%;
  max-width: calc(100% - 3rem);
  text-shadow: 0px 3px 8px black;
}
.icons {
  color: black;
  font-size: 3rem !important;
}

#portrait{
  object-fit: cover;
border-radius: 50%;
width: 12rem;
margin-right: 2rem;
}

#about-me {
  max-width: 62rem;
  margin: 8rem auto !important;
}